#map{
  width: 100vw;
  height: 100vh;
  background: #0b0b0b;
}

.floating-range{
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 999;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.floating-content{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
