#map{
  width: 100vw;
  height: 100vh;
  background: #0b0b0b;
}

.list-group{
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

button{
  position: fixed;
  right: 20px;
  bottom: 20px;
}
